<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css"> <!-- Create a shops.css file for styling -->
    <link rel="stylesheet" href="/css/nav.css">
    <title>
        <%= title %>
    </title>
    <link rel="icon" href="/images/stock.svg" type="image/x-icon">
</head>

<body>
    <!-- Include the navigation partial -->
  <%- include('./partials/nav.ejs') %>
    <div id="top-bar">
      <div id="page-name">
        <p>Mathara Stock</p>
      </div>
      <div id="top-bar">
        <div class="stock-btn">
          <!-- Detailed Invoices button -->
          <a href="/stocks" id="stock-btn" >Main Stock</a>
        </div>
        <div class="stock-btn">
          <!-- Detailed Invoices button -->
          <a href="/rep-stock" id="stock-btn" >Rep's Stock</a>
        </div>
        <div id="summary-btn">
          <!-- Invoice Summary button -->
          <a href="/invoice-summary" id="invoice-btn" >Invoice Summary</a>
        </div>
        <div id="invoice-btn">
          <!-- Detailed Invoices button -->
          <a href="/invoices">Invoices Details</a>
        </div>
        <div id="add-new">
          <!-- Add New Shop button -->
          <a href="/stocks/add" id="add-new-btn">Add Invoice</a>
        </div>
      </div>
    </div>
  <main>
    <table id="shops">
        <thead>
          <th class="left-align">No.</th>
          <th class="left-align">Items</th>
          <th class="left-align">Description</th>
          <th class="right-align">Mathara Stock</th>
          <th class="right-align">Remaining Stock</th>
          <th class="right-align">Rep's Inventory</th>
          <th class="right-align">Rep's Sales</th>
          <!-- <th>Actions</th> -->
        </thead>
        <tbody>
          <% altStocks.forEach((altStock, index)=> { %>
            <tr>
              <td class="left-align">
                <%= index + 1 %>
            </td>
              <td class="left-align">
                <%= altStock.item_code %>
              </td>
              <td class="left-align">
                <%= altStock.description %>
              </td>
              <td class="right-align">
                <%= altStock.mathara_incoming_quantity %>
              </td>
              <td class="right-align">
                <%= altStock.mathara_quantity %>
              </td>
              <td class="right-align">
                <%= altStock.rep_quantity %>
              </td>
              <td class="right-align">
                <%= altStock.rep_sold_quantity %>
              </td>
            </tr>
            <% }); %>
        </tbody>

      </table>
  </main>

</body>

</html>