<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="compare.css">
    <link rel="stylesheet" href="/nav.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <!-- Include the navigation partial -->
    <%- include('./partials/nav.ejs') %>
        <div id="top-bar">
            <div id="page-name">
                <p>Compare Orders</p>
            </div>
        </div>
        <main>
            <div id="compare">
                <form action="/compare-orders" method="get">
                    <div>
                        <label for="get-invoice">Search Invoice ID:</label>
                        <input type="text" id="get-invoice" name="invoice_id" value="<%= searchInvoice || '' %>">
                    </div>
                    <div>
                        <button id="search-btns" type="submit">Load Order and Invoice</button>
                    </div>
                    <a href="/compare-orders"><button id="search-btns" type="button">Reset</button></a>
                    <div>
                        <label for="get-order">Search Order ID:</label>
                        <input type="text" id="get-order" name="order_id" value="<%= searchOrder || '' %>">
                    </div>
                </form>
            </div>
            <div id="container">
                <div id="invoice-container">
                    <% if (invoice) { %>
                        <div class="invoice-card">
                            <div id="invoice-details">
                                <h3>Invoice ID: <%= invoice.invoice_id %>
                                </h3>
                                <p>Invoice Date: <%= invoice.invoice_date.toLocaleDateString() %>
                                </p>
                            </div>
                            <table id="invoice-tbl">
                                <thead>
                                    <tr>
                                        <th class="left-align">Item Code</th>
                                        <th class="left-align">Item Name</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                        <th>Extension</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% invoice.items.forEach((item)=> { %>
                                        <tr>
                                            <td class="left-align">
                                                <%= item.item_code %>
                                            </td>
                                            <td class="left-align">
                                                <%= item.description %>
                                            </td>
                                            <td>
                                                <%= item.quantity %>
                                            </td>
                                            <td>
                                                <%= item.price_per_item.toLocaleString(undefined, {
                                                    minimumFractionDigits: 2, maximumFractionDigits: 2 }) %>
                                            </td>
                                            <td>
                                                <%= item.extention.toLocaleString(undefined, { minimumFractionDigits: 2,
                                                    maximumFractionDigits: 2 }) %>
                                            </td>
                                        </tr>
                                        <% }) %>
                                            <tr>
                                                <td class="left-align" colspan="4">Total</td>
                                                <td>
                                                    <%= invoice.total.toLocaleString(undefined, { minimumFractionDigits:
                                                        2, maximumFractionDigits: 2 }) %>
                                                </td>
                                            </tr>
                                </tbody>
                            </table>
                        </div>
                        <% } else { %>
                            <p id="not-found">No invoice found.</p>
                            <% } %>
                </div>
                <div id="order-container">
                    <% if (order) { %>
                        <div class="order-card">
                            <div id="order-details">
                                <div>
                                    <h3>Order ID: <%= order.order_id %>
                                    </h3>
                                    <p>Dealer Name: <%= order.dealer_name %>
                                    </p>
                                </div>
                                <div>
                                    <p>Invoice ID: <%= order.invoice_id ? order.invoice_id : 'Not Available' %>
                                    </p>
                                    <p>Date: <%= order.order_date.toLocaleDateString() %>
                                    </p>
                                </div>
                            </div>
                            <table id="order-tbl">
                                <thead>
                                    <tr>
                                        <th class="left-align">Item Code</th>
                                        <th class="left-align">Item Name</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                        <th>Discount</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (order.items) { %>
                                        <% order.items.forEach((item)=> { %>
                                            <tr>
                                                <td class="left-align">
                                                    <%= item.item_code %>
                                                </td>
                                                <td class="left-align">
                                                    <%= item.description %>
                                                </td>
                                                <td>
                                                    <%= item.quantity %>
                                                </td>
                                                <td>
                                                    <%= item.price_per_item.toLocaleString(undefined, {
                                                        minimumFractionDigits: 2, maximumFractionDigits: 2 }) %>
                                                </td>
                                                <td>
                                                    <%= item.discount %> %
                                                </td>
                                                <td>
                                                    <%= item.total.toLocaleString(undefined, { minimumFractionDigits: 2,
                                                        maximumFractionDigits: 2 }) %>
                                                </td>
                                            </tr>
                                            <% }) %>
                                                <% } else { %>
                                                    <tr>
                                                        <td colspan="6">No items found for this order.</td>
                                                    </tr>
                                                    <% } %>
                                                        <tr>
                                                            <td class="left-align" colspan="5">Total</td>
                                                            <td>
                                                                <%= order.total.toLocaleString(undefined, {
                                                                    minimumFractionDigits: 2, maximumFractionDigits: 2
                                                                    }) %>
                                                            </td>
                                                        </tr>
                                </tbody>
                            </table>
                        </div>
                        <% } else { %>
                            <p id="not-found">No order found.</p>
                            <% } %>
                </div>
            </div>
            <% if (order && invoice) { %>
                <div id="comparison-container">
                    <h2>Comparison</h2>
                    <table id="comparison-tbl">
                        <thead>
                            <tr>
                                <th>Item Code</th>
                                <th>Order Quantity</th>
                                <th>Invoice Quantity</th>
                                <th>Order Price</th>
                                <th>Invoice Price</th>
                                <th>Difference</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% order.items.forEach((orderItem)=> {
                                const invoiceItem = invoice.items.find(item => item.item_code === orderItem.item_code);
                                const quantityDifference = invoiceItem ? orderItem.quantity - invoiceItem.quantity :
                                orderItem.quantity;
                                const priceDifference = invoiceItem ? orderItem.price_per_item -
                                invoiceItem.price_per_item : orderItem.price_per_item;
                                %>
                                <tr>
                                    <td>
                                        <%= orderItem.item_code %>
                                    </td>
                                    <td>
                                        <%= orderItem.quantity %>
                                    </td>
                                    <td>
                                        <%= invoiceItem ? invoiceItem.quantity : 'N/A' %>
                                    </td>
                                    <td>
                                        <%= orderItem.price_per_item.toLocaleString(undefined, { minimumFractionDigits:
                                            2, maximumFractionDigits: 2 }) %>
                                    </td>
                                    <td>
                                        <%= invoiceItem ? invoiceItem.price_per_item.toLocaleString(undefined, {
                                            minimumFractionDigits: 2, maximumFractionDigits: 2 }) : 'N/A' %>
                                    </td>
                                    <td>
                                        <%= quantityDifference %> qty, <%= priceDifference.toLocaleString(undefined, {
                                                minimumFractionDigits: 2, maximumFractionDigits: 2 }) %> price
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                    <div id="total-comparison">
                        <p>Profit:
                            <strong>
                                <%= order.total.toLocaleString(undefined, { minimumFractionDigits: 2,
                                    maximumFractionDigits: 2 }) %> - <%= invoice.total.toLocaleString(undefined, {
                                        minimumFractionDigits: 2, maximumFractionDigits: 2 }) %> = <%= (order.total -
                                            invoice.total).toLocaleString(undefined, { minimumFractionDigits: 2,
                                            maximumFractionDigits: 2 }) %>
                            </strong>
                        </p>
                        <% const profitMargin=((order.total - invoice.total) / invoice.total) * 100; %>
                            <p>Profit Margin: <strong>
                                    <%= profitMargin.toFixed(2) %> %
                                </strong></p>
                    </div>
                    <% } %>
                </div>
        </main>
</body>

</html>