<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/edit-page.css">
    <title>
        <%= title %>
    </title>
    <link rel="icon" href="/images/edit.svg" type="image/x-icon">
</head>

<body>
    <!-- Include the navigation partial -->
    <%- include('./partials/nav.ejs') %>
        <div id="container">
            <form action="/update-rep-order" method="POST">
                <!-- Order header -->
                <div class="header">
                    <h3>Rep's Order ID: <%= order.order_id %>
                    </h3>
                    <input type="hidden" name="order_id" value="<%= order.order_id %>">
                    <h3>Order Date: <%= order.order_date.toLocaleDateString('en-GB') %>
                    </h3>
                </div>
                <!-- Input field for new order date -->
                <div class="date">
                    <label for="orderDate">New Order Date:</label>
                    <input type="date" id="orderDate" name="orderDate" value="<%= order.order_date %>">
                </div>
                <!-- Table for displaying/editing order products -->
                <div class="order-table">
                    <table>
                        <!-- Table headers -->
                        <thead>
                            <tr>
                                <th>Item Code</th>
                                <th>Item Name</th>
                                <th>Quantity</th>

                            </tr>
                        </thead>
                        <!-- Table body -->
                        <tbody>
                            <% order.items.forEach((item, index)=> { %>
                                <tr>
                                    <!-- Display product details and allow editing -->
                                    <td>
                                        <%= item.item_code %>
                                            <input type="hidden" name="items[<%= index %>][item_code]"
                                                value="<%= item.item_code %>">
                                    </td>
                                    <td>
                                        <%= item.description %>
                                            <input type="hidden" name="items[<%= index %>][description]"
                                                value="<%= item.description %>">
                                    </td>
                                    <td><input type="number" name="items[<%= index %>][quantity]"
                                            value="<%= item.quantity %>">
                                        <!-- Hidden input field for old quantity -->
                                        <input type="hidden" name="items[<%= index %>][old_quantity]"
                                            value="<%= item.quantity %>">
                                    </td>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                </div>
                <!-- Submit button -->
                <div class="submit-btn">
                    <button type="submit">Update Order</button>
                </div>
            </form>
        </div>
</body>

</html>