<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css"> <!-- Create a shops.css file for styling -->
    <link rel="stylesheet" href="/css/nav.css">
    <title>
        <%= title %>
    </title>
    <link rel="icon" href="/images/invoice.svg" type="image/x-icon">
</head>

<body>
    <!-- Include the navigation partial -->
    <%- include('./partials/nav.ejs') %>
        <div id="top-bar">
            <div id="page-name">
                <p>Invoices</p>
            </div>
            <div>
                <a href="/rep-invoices" id="invoice-btn">Rep's Invoices</a>
            </div>
            <div class="summary-btn">
                <a href="/invoice-summary" id="invoice-btn">Invoice Summary</a>
              </div>
            <div id="add-new">
                <!-- Add New Invoice button -->
                <a href="/stocks/add" id="add-new-btn">Add New</a>
            </div>
        </div>
        <main>
            <form class="top-bar" action="/invoices" method="get">
                <label for="search">Search Invoice ID:</label>
                <input type="text" id="search" name="search" value="<%= search || '' %>">
                <button id="search-btns" type="submit">Search</button>
                <a href="/invoices"><button id="search-btns" type="button">Reset</button></a>
            </form>
            <div class="cards">
                <% if (invoices.length> 0) { %>
                    <% invoices.forEach((invoice)=> { %>
                        <div class="invoice-card">
                            <h3>Invoice ID: <%= invoice.invoice_id %>
                            </h3>
                            <p>Invoice Date: <%= invoice.invoice_date.toLocaleDateString('en-GB') %>
                            </p>
                            <p>
                                Stock Type: <%= invoice.stock_type %>
                            </p>
                            <p>
                                Dealer Name: <%= invoice.dealer_name ? invoice.dealer_name : "No Dealer Mentioned" %>
                            </p>
                            <table id="invoice-tbl">
                                <thead>
                                    <tr>
                                        <th class="left-align">Item Code</th>
                                        <th class="left-align">Item Name</th>
                                        <th class="center-align">Quantity</th>
                                        <th class="center-align">Price</th>
                                        <th class="center-align">Extention</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% invoice.items.forEach((item)=> { %>
                                        <tr>
                                            <td class="left-align">
                                                <%= item.item_code %>
                                            </td>
                                            <td class="left-align">
                                                <%= item.description %>
                                            </td>
                                            <td>
                                                <%= item.quantity %>
                                            </td>
                                            <td>
                                                <%= item.price_per_item.toLocaleString(undefined, {
                                                    minimumFractionDigits: 2, maximumFractionDigits: 2 }) %> %>
                                            </td>
                                            <td>
                                                <%= item.extention.toLocaleString(undefined, { minimumFractionDigits: 2,
                                                    maximumFractionDigits: 2 }) %>
                                            </td>
                                            </td>
                                        </tr>
                                        <% }); %>
                                            <tr>
                                                <td class="left-align" colspan="4">Total</td>
                                                <td>
                                                    <%= invoice.total.toLocaleString(undefined, { minimumFractionDigits:
                                                        2, maximumFractionDigits: 2 }) %>
                                                </td>
                                            </tr>
                                </tbody>
                            </table>
                            <div class="button-group">
                                <a href="/invoices/edit/<%= invoice.invoice_id %>" class="edit-btn">Edit</a>
                                <a href="/invoices/delete/<%= invoice.invoice_id %>" class="delete-btn">Delete</a>
                                <a href="/invoices/show/<%= invoice.invoice_id %>" class="show-btn">Show Invoice</a>
                                <!-- <a href="/invoices/pdf/<%= invoice.invoice_id %>" class="pdf-btn">Download PDF</a> -->
                              </div>
                        </div>
                        <% }); %>
                            <% } else { %>
                                <p>No invoices found.</p>
                                <% } %>
            </div>
        </main>
</body>

</html>