<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css"> <!-- Create a shops.css file for styling -->
    <link rel="stylesheet" href="/css/nav.css">
    <title>
        <%= title %>
    </title>
    <link rel="icon" href="/images/stock.svg" type="image/x-icon">
</head>

<body>
    <!-- Include the navigation partial -->
    <%- include('./partials/nav.ejs') %>
        <div id="top-bar">
            <div id="page-name">
                <p>Invoice Summary</p>
            </div>
        </div>
        <main>
            <table id="invoices">
                <thead>
                    <th class="left-align">No.</th>
                    <th>Invoice ID</th>
                    <th>Invoice Date</th>
                    <th>Stock Type</th>
                    <th>Total Amount</th>
                </thead>
                <tbody>
                    <% invoices.forEach((invoice, index)=> { %>
                        <tr>
                            <td class="left-align">
                                <%= index + 1 %>
                            </td>
                            <td>
                                <%= invoice.invoice_id %>
                            </td>
                            <td>
                                <%= invoice.invoice_date.toLocaleDateString() %>
                            </td>
                            <td>
                                <%= invoice.stock_type %>
                            </td>
                            <td>
                                <%= invoice.total.toLocaleString(undefined, { minimumFractionDigits: 2,
                                    maximumFractionDigits: 2 }) %>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
        </main>
</body>

</html>