<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/nav.css">
  <title>
    <%= title %>
  </title>
  <link rel="icon" href="/images/item.svg" type="image/x-icon">
  <!-- Include SweetAlert library -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>

<body>
  <!-- Include the navigation partial -->
  <%- include('./partials/nav.ejs') %>
    <div id="top-bar">
      <div id="page-name">
        <p>Items</p>
      </div>
      <div id="add-new">
        <!-- Add New Shop button -->
        <a href="/items/add" id="add-new-btn">Add New</a>
      </div>
    </div>
    <main>
      <div id="search">
        <!-- Search form -->
        <form id="search-form" action="/items/search" method="get">
          <label for="item-search">Search Items:</label>
          <input type="text" name="query" id="search-input" value="<%= searchTerm || '' %>">
          <button type="submit" id="search-btn">Search</button>
        </form>
      </div>

      <table id="items">
        <thead>
          <tr>
            <th class="left-align">No.</th>
            <th class="left-align">Item Code</th>
            <th class="left-align">Description</th>
            <th class="center-align">Unit</th>
            <th class="center-align">Price</th>
            <th class="center-align" id="action">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% items.forEach((item, index)=> { %>
            <tr>
              <td class="center-align">
                <%= index + 1 %>
              </td>
              <td class="left-align">
                <%= item.item_code %>
              </td>
              <td class="left-align">
                <%= item.description %>
              </td>
              <td class="center-align">
                <%= item.unit %>
              </td>
              <td class="center-align">
                <% if (item.price !=null) { %>
                  <%= item.price.toLocaleString() %>
                    <% } else { %>
                      N/A
                      <% } %>
              </td>
              <td id="action">
                <div id="action-btns">
                  <a href="/items/edit/<%= item.item_code %>" class="edit-btn">Edit</a>
                  <!-- Call the submitForm function when the delete button is clicked -->
                  <a href="/items/delete/<%= item.item_code %>" class="delete-btn"
                    onclick="return submitForm(this)">Delete</a>
                </div>
              </td>
            </tr>
            <% }); %>
        </tbody>
      </table>
    </main>

    <!-- Include your custom script.js file -->
    <script src="/javascript/script.js"></script>
</body>

</html>