<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/nav.css">
    <title><%= title %></title>
    <link rel="icon" href="/images/order.svg" type="image/x-icon">
</head>

<body>
    <!-- Include the navigation partial -->
    <%- include('./partials/nav.ejs') %>
    <main>
        <form class="top-bar" action="/orders" method="get">
            <label for="search">Search Order ID:</label>
            <input type="text" id="search" name="search" value="<%= search || '' %>">
            <button id="search-btns" type="submit">Search</button>
            <a href="/orders"><button id="search-btns" type="button">Reset</button></a>
        </form>
        <div class="cards">
            <% if (orders.length > 0) { %>
                <% orders.forEach((order) => { %>
                    <div class="order-card">
                        <h3>Order ID: <%= order.order_id %></h3>
                        <p>Date: <%= order.order_date.toLocaleDateString() %></p>
                        <table id="order-tbl">
                            <thead>
                                <tr>
                                    <th>Item Name</th>
                                    <th>Quantity</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% order.items.forEach((item) => { %>
                                    <tr>
                                        <td><%= item.description %></td>
                                        <td><%= item.quantity %></td>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                <% }); %>
            <% } else { %>
                <p>No orders found.</p>
            <% } %>
        </div>
    </main>
</body>

</html>
