<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css"> <!-- Create a styles.css file for styling -->
    <link rel="stylesheet" href="/nav.css">
    <title>
        <%= title %>
    </title>
    <link rel="icon" href="/images/invoice.svg" type="image/x-icon">
</head>

<body>
    <!-- Include the navigation partial -->
    <%- include('./partials/nav.ejs') %>
        <div id="top-bar">
            <div id="page-name">
                <p>Rep's Orders</p>
            </div>
            <div>
                <a href="/rep-invoices" id="invoice-btn">Rep's Invoices</a>
            </div>
            <div id="add-new">
                <!-- Add New Invoice button -->
                <a href="/rep-orders/add" id="add-new-btn">Add New</a>
            </div>
        </div>
        <main>
            <form class="top-bar" action="/rep-orders" method="get">
                <label for="search">Search Order ID:</label>
                <input type="text" id="search" name="search" value="<%= search || '' %>">
                <button id="search-btns" type="submit">Search</button>
                <a href="/rep-orders"><button id="search-btns" type="button">Reset</button></a>
            </form>
            <div class="cards">
                <% if (reps_orders.length> 0) { %>
                    <% reps_orders.forEach((reps_order)=> { %>
                        <div class="invoice-card">
                            <h3>Order Date: <%= reps_order.order_date.toLocaleDateString('en-GB') %>
                            </h3>
                            <table id="invoice-tbl">
                                <thead>
                                    <tr>
                                        <th class="left-align">Item Code</th>
                                        <th class="left-align">Item Name</th>
                                        <th>Quantity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% reps_order.items.forEach((item)=> { %>
                                        <tr>
                                            <td class="left-align">
                                                <%= item.item_code %>
                                            </td>
                                            <td class="left-align">
                                                <%= item.description %>
                                            </td>
                                            <td>
                                                <%= item.quantity %>
                                            </td>
                                        </tr>
                                        <% }); %>
                                </tbody>
                            </table>
                            <div class="button-group">
                                <a href="/rep-orders/edit/<%= reps_order.order_id %>" class="edit-btn">Edit</a>
                                <a href="/rep-orders/delete/<%= reps_order.order_id %>" class="delete-btn">Delete</a>
                            </div>
                        </div>
                        <% }); %>
                            <% } else { %>
                                <p>No Orders found.</p>
                                <% } %>
            </div>
        </main>
</body>

</html>