<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css"> <!-- Create a shops.css file for styling -->
    <link rel="stylesheet" href="/nav.css">
    <title><%= title %></title>
    <link rel="icon" href="/images/dealer.svg" type="image/x-icon">
</head>
<body>
    <!-- Include the navigation partial -->
    <%- include('./partials/nav.ejs') %>
    <div id="top-bar">
      <div id="page-name">
        <p>Dealers</p>
      </div>
      <div id="add-new">
        <!-- Add New Shop button -->
        <a href="/shops/add" id="add-new-btn">Add New</a>
      </div>
    </div>
    <main>
        <table id="shops">
            <thead>
                <th>Dealer Name</th>
                <th>Contact No</th>
                <th>Location</th>
                <th id="action">Actions</th>
            </thead>
            <tbody>
                <% shops.forEach(shop => { %>
                  <tr>
                    <td><%= shop.shop_name %></td>
                    <td><%= shop.contact_no %></td>
                    <td><%= shop.location %></td>
                    <td id="action">
                      <div id="action-btns">
                        <a href="/shops/edit/<%= shop.shop_id %>" class="edit-btn">Edit</a>
                        <a href="/shops/delete/<%= shop.shop_id %>" class="delete-btn">Delete</a>
                      </div>
                    </td>
                  </tr>
                <% }); %>
              </tbody>
        </table> 
    </main>
</body>
</html>
