<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css"> <!-- Create a shops.css file for styling -->
  <link rel="stylesheet" href="/css/nav.css">
  <title>
    <%= title %>
  </title>
  <link rel="icon" href="/images/dealer.svg" type="image/x-icon">
  <!-- Include SweetAlert library -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>

<body>
  <!-- Include the navigation partial -->
  <%- include('./partials/nav.ejs') %>
    <div id="top-bar">
      <div id="page-name">
        <p>Dealers</p>
      </div>
      <div id="add-new">
        <!-- Add New Shop button -->
        <a href="/shops/add" id="add-new-btn">Add New</a>
      </div>
    </div>
    <main>
      <table id="shops">
        <thead>
          <th class="left-align">No.</th>
          <th class="left-align">Dealership Name</th>
          <th class="left-align">Contact No</th>
          <th class="left-align">City</th>
          <th class="left-align">Address</th>
          <th class="left-align" id="action">Actions</th>
        </thead>
        <tbody>
          <% shops.forEach((shop, index)=> { %>
            <tr>
              <td class="left-align">
                <%= index + 1 %>
              </td>
              <td class="left-align" >
                <%= shop.shop_name %>
              </td>
              <td class="left-align">
                <%= shop.contact_no %>
              </td>
              <td class="left-align">
                <%= shop.location %>
              </td>
              <td class="left-align" >
                <%= shop.Address %>
              </td>
              <td id="action">
                <div id="action-btns">
                  <a href="/shops/edit/<%= shop.shop_id %>" class="edit-btn">Edit</a>
                  <a href="/shops/delete/<%= shop.shop_id %>" class="delete-btn" onclick="return submitForm(this)">Delete</a>
                </div>
              </td>
            </tr>
            <% }); %>
        </tbody>
      </table>
    </main>

    <!-- Include your custom script.js file -->
    <script src="/javascript/script.js"></script>
</body>

</html>