<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="/nav.css">
  <title>
    <%= title %>
  </title>
  <link rel="icon" href="/images/stock.svg" type="image/x-icon">
</head>

<body>
  <%- include('./partials/nav.ejs') %>
    <div id="top-bar">
      <div id="page-name">
        <p>Stock</p>
      </div>
      <div id="top-bar">
        <div class="stock-btn">
          <a href="/rep-stock" id="stock-btn">Rep's Stock</a>
        </div>
        <div class="stock-btn">
          <a href="/alt-stock" id="stock-btn">Mathara Stock</a>
        </div>
        <div class="summary-btn">
          <a href="/invoice-summary" id="invoice-btn">Invoice Summary</a>
        </div>
        <div id="invoice-btn">
          <a href="/invoices">Invoices Details</a>
        </div>
        <div id="add-new">
          <a href="/stocks/add" id="add-new-btn">Add Invoice</a>
        </div>
      </div>
    </div>
    <main>
      <table id="shops">
        <thead>
          <th class="left-align">No.</th>
          <th class="left-align">Items</th>
          <th class="left-align">Description</th>
          <th>Full Stock</th>
          <th>Mathara Stock</th>
          <th>Rep's Stock</th>
        </thead>
        <tbody>
          <% stocks.forEach((stock, index)=> { %>
            <tr>
              <td class="left-align">
                <%= index + 1 %>
              </td>
              <td class="left-align">
                <%= stock.item_code %>
              </td>
              <td class="left-align">
                <%= stock.description %>
              </td>
              <td>
                <%= stock.stock_quantity %>
              </td>
              <td>
                <%= stock.mathara_quantity || 0 %>
              </td>
              <td>
                <%= stock.rep_quantity || 0 %>
              </td>
            </tr>
            <% }); %>
        </tbody>
      </table>
    </main>
</body>

</html>